<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- =========================
         CADENA DE CONEXIÓN
         ========================= -->
	<connectionStrings>
		<add name="CN_SGE"
			 connectionString="Data Source=Jbr2304\Julia Beltran R;Initial Catalog=SGE;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Para que funcione System.Configuration -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

</configuration>
