<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- =========================
         CADENA DE CONEXIÓN
         ========================= -->
	<connectionStrings>
		<add name="CN_SGE"
			 connectionString="Data Source=JBR2304;Initial Catalog=Amaris;User ID=app_amaris;Password=AppAmaris2024*;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Para que funcione System.Configuration -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

</configuration>
